<div class="commit-details-container">
    <h1>Commit Details</h1>
    <mat-card>
      <mat-card-content>
        <h2>{{ message?.header }}</h2>
        <p [innerHTML]="message?.body"></p>
        <hr>
          <p><strong>Commit sha: </strong>{{ commit?.sha }}</p>
          <p><strong>Date: </strong>{{ commit?.commit?.author?.date | date:'medium' }}, committed: {{ commit?.commit?.committer?.date | date:'medium' }}</p>
          <p><strong>Committed by: </strong>{{ commit?.commit?.committer?.name }}, Github profile: <a href="{{ commit?.committer?.html_url }}" target="_blank">{{ commit?.committer?.html_url }}</a></p>
          <p><strong>Author: </strong>{{ commit?.commit?.author?.name }}, Github profile: <a href="{{ commit?.author?.html_url }}" target="_blank">{{ commit?.author?.html_url }}</a></p>
      </mat-card-content>
    </mat-card>
</div>
