<a
  style="cursor: pointer;"
  [routerLink]="[commit.sha]"
  routerLinkActive="active"
  class="clearfix">
  <mat-card class="commit-list-card">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{
          'background-image': 'url('+ commit?.committer?.avatar_url +')',
          'background-size': 'cover'
        }"></div>
        <mat-card-title>{{ commit?.commit?.committer?.name }}</mat-card-title>
        <mat-card-subtitle>comitted: {{ commit?.commit?.committer?.date | date:'medium' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="message-wrapper"> <p>{{commit?.commit?.message}}</p></div>
    </mat-card-content>
  </mat-card>
</a>

