:host {
  .clearfix {
    text-decoration: none; /* no underline */
  }
  .commit-list-card {
    margin: 20px;
    max-width: 400px;
  }
  .message-wrapper {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}